// allproducts page
@import "mixins.scss";

#all-products-container {
    .row {
        display: flex;
        justify-content: center;
    }
    .product-container {
        text-align: center;
        padding-top: 40px;
        img {
            max-width: 200px;
            min-width: 200px;
            padding-bottom: 20px;
        }
    }
}

#pagination {
    text-align: center;
    .current {
        text-decoration: underline;
    }
}
