// allproducts page
@import "mixins.scss";

.container {
    display: flex;
    justify-content: center;
    .product-container {
        text-align: center;
        padding-top: 40px;
        img {
            max-width: 200px;
            min-width: 200px;
            padding-bottom: 20px;
            .hover:hover {
                filter: blur(3px);
            }
        }
    }
}

#pagination {
    text-align: center;
    .current {
        background-color: black;
    }
}
