html body{
    height: 100vh;
}
.footer-container {
    display: flex;
    //min-height: 100vh;
    flex-direction: column;
}

.thecontainer {
    flex: 1;    
}

.footer {
        background-color: #1c1c1c;
        flex-shrink: 0;

        ul , .footer-title {
            color: white;
        }
}

