html body{
    height: 100%;
}

body {
   
  //  display: flex;
    min-height: 100vh;
   // flex-direction: column;

    .container , .container-fluid {
        flex: 1;    /* för att footern ska fungera måste allt innehåll på sidorna finnas i en div class ="container eller container-fluid" */
    }

    .footer {
        background-color: #1c1c1c;

        ul , .footer-title {
            color: white;
    
    }
}

}

