// Header
#header {
    background-color: #1c1c1c;
    text-align: center;
    #headerTitle {
        font-family: 'Mansalva';
        font-size: 40px;
        margin-left: 10px;
        color: white;
    }
    #slogan {
        font-family: 'Mansalva';
        color: rgb(216, 216, 129);
    }
}