// Header
#header {
    background-color: #1c1c1c;
    text-align: center;
    #headerTitle {
        margin-left: 10px;
        color: white;
    }
    #slogan {
        color: rgb(216, 216, 129);
        margin-bottom: 0%;
    }
}