.sidebar-mypage {
    margin-top: 25px;
    a, a:link, a:visited {
        color: black;
        text-decoration: none;
        font-weight: lighter;
    }
       
    a:hover {
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
       
    a:active , a:focus {
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    
}

.wishlist {
    list-style-type: none;
    padding: 0;
}

h6 {
    font-weight: bold;
    color: black;
}

.wishlistImg {
    height: 100px;
}