// oneProduct page
@import "mixins.scss";
body{

    .container{
        .oneProductHeader{
            background-color: salmon;
            height: 150px;
            @include desktop{
                height: 200px;
            }
            .oneProductTitle{
                background-color: pink;
            }
    
            .oneProductDescription{
                background-color: powderblue;
                text-align: left;
                                
                @include mini-tablet {
                    text-align: right;
                }
                @include mini-desktop {
                    flex-direction: column;
                } 
            }
        }
    }
}