// oneProduct page
@import "mixins.scss";
body{
    .container {
        .oneProductHeader {
            background-color: salmon;
            height: 350px;
            display: flex;
            justify-content: center;

            .lakritsImgDiv{
                .lakritsImg{
                    max-width: 100%;
                    height: auto;
                }
            }
    
            @include mini-tablet {
                
            }
            @include desktop {
                height: 200px;
            }

            .oneProductTitle {
                background-color: pink;
            }
    
            .oneProductDescription {
                background-color: powderblue;
                text-align: left;
                                
                @include mini-tablet {
                    text-align: right;
                }
                @include mini-desktop {
                    flex-direction: column;
                } 
            }
            
        }
    }
}