#header {
    background-color: #1c1c1c;
    
    #headerTitle {
            font-family: 'Mansalva';
            font-size: 40px;
            margin-left: 10px;
            color: white;
    }
    #slogan {
            font-family: 'Mansalva';
            color: rgb(216, 216, 129);
    }
}

.footer {
        background-color: #1c1c1c;

        .footer-title .footer-text {
                color: white; 

        }
}

