<<<<<<< HEAD
html{
    height: 100%;
}
body {
    background: #333;
    color: #fff;
    //sticky footer
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    ul {
        li {
            padding: 5px;
        }
        .noListType {
            list-style-type: none;
        }
    }
    #header {
        background-color: #1c1c1c;
        text-align: center;
        #headerTitle {
                font-family: 'Mansalva';
                font-size: 40px;
                margin-left: 10px;
                color: white;
        }
        #slogan {
                font-family: 'Mansalva';
                color: rgb(216, 216, 129);
        }
    }

    .footer {
        background-color: #1c1c1c;
        grid-row-start: 2;
        grid-row-end: 3;
        .footer-title , .footer-text {
                color: white; 
        }
    }
=======
// Alla SCSS imports
@import "header.scss";
@import "navbar.scss";
@import "allproducts.scss";
@import "oneproduct.scss";
@import "body.scss";
@import "mixins.scss";

>>>>>>> 1d1434e45d2b5e02e5c077dcc8dec379e6199ecd

