<%- include("header.ejs") %>

<body>
<<<<<<< HEAD

    <form action="/admin" method="post">

        <input type="name" name="adminLogin" id="" placeholder="Admin">
        <input type="password" name="adminPassword" id="" placeholder="Password">
        <button type="submit">Sign in Admin</button>

    </form>

=======
    <form action="/admin" method="post">
        <input type="name" name="adminLogin" id="" placeholder="Admin">
        <input type="password" name="adminPassword" id="" placeholder="Password">
        <button type="submit">Sign in Admin</button>
    </form>
>>>>>>> 5cb1de28494d67e01670b012472fcdbbdcae799d
</body>