#header {
  background-color: #1c1c1c; }
  #header #headerTitle {
    font-family: 'Mansalva';
    font-size: 40px;
    margin-left: 10px;
    color: white; }
  #header #slogan {
    font-family: 'Mansalva';
    color: #d8d881; }

.footer {
  background-color: #1c1c1c; }
  .footer .footer-title, .footer .footer-text {
    color: white; }
body {
  background: #333;
  color: #fff; }
  body ul li {
    padding: 5px; }
  body ul .noListType {
    list-style-type: none; }
