<div class = " container-fluid footer align-self-end">
    <div class= "row ">
        <div class = "col-sm-12 col-md-6 col-lg-4">
            <h4 class ="footer-title">Om Lasses Lakrits</h4>
            <p>Vem är Lasse och varför gillar han lakrits?</p>

        </div>
        <div class = "col-sm-12 col-md-6 col-lg-4">
            <h4 class ="footer-title">Sociala medier</h4>
        </div>
            <h4 class ="footer-title">Kontakta oss</h4>
        <div class = "col-sm-12 col-md-6 col-lg-4">

        </div>
    </div>



</div>