<form action="/signup" method="post">

    <input type="email" name="email" id="" placeholder="email">
    <input type="password" name="password" id="" placeholder="password">
    <input type="password" name="" id="" placeholder="Repeat password">
    <button type="submit">Sign up</button>

</form>